# Notebook 5 - pandas
[pandas](http://pandas.pydata.org) provides high-level data structures and functions designed to make working with structured or tabular data fast, easy and expressive. The primary objects in pandas that we will be using are the `DataFrame`, a tabular, column-oriented data structure with both row and column labels, and the `Series`, a one-dimensional labeled array object.

pandas blends the high-performance, array-computing ideas of NumPy with the flexible data manipulation capabilities of spreadsheets and relational databases. It provides sophisticated indexing functionality to make it easy to reshape, slice and perform aggregations.

While pandas adopts many coding idioms from NumPy, the most significant difference is that pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.
<br>

## Table of Contents:
- [Data Structures](#structures)
    - [Series](#series)
    - [DataFrame](#dataframe)
- [Essential Functionality](#ess_func)
    - [Reindexing](#reindexing)
    - [Dropping Entries](#removing)
    - [Indexing, Slicing and Filtering](#indexing)
    - [Arithmetic Operations](#arithmetic)
- [Summarizing and Computing Descriptive Statistics](#sums)
- [Loading and storing data](#loading)
    - [Text Format](#text) 
    - [Web Scraping](#web)
- [Data Cleaning and preperation](#cleaning)
    - [Handling missing data](#missing)
    - [Data transformation](#transformation)

The common pandas import statment is shown below:

In [1]:
# Common pandas import statement
import numpy as np
import pandas as pd

# Data Structures <a name="structures"></a>
## Series <a name="series"></a>
A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels called its index.

The easiest way to make a Series is from an array of data:

In [2]:
data = pd.Series([4, 7, -5, 3])

Now try printing out data

The string representation of a Series displayed interactively shows the index on the left and the values on the right. Because we didn't specify an index, the default on is simply integers 0 through N-1.

You can output only the values of a Series using 
```python
data.values
```
or you can get only the indices using
```python
data.index
```
Try it out below!

You can specify custom indeces when intialising the Series

In [3]:
data2 = pd.Series([4, 7, -5, 3], index=["a", "b", "c", "d"])

Now you can use these labels to access the data similar to a normal array

In [4]:
data2["a"]

4

Another way to think about Series is as a fixed-length ordered dictionary. Furthermore, you can actually define a Series in a similar manner to a dictionary

In [5]:
cities = {"Glasgow" : 599650, "Edinburgh" : 464990, "Abardeen" : 196670, "Dundee" : 147710}
data3 = pd.Series(cities)

In [6]:
data3

Glasgow      599650
Edinburgh    464990
Abardeen     196670
Dundee       147710
dtype: int64

You can do arithmetic operations between Series similar to NumPy arrays. Even if you have 2 datasets with different data, arithmetic operations will be aligned according to their indices.

Let's look at an example

In [7]:
cities_uk = {"Birmingham" : 1092330, "Leeds": 751485, "Glasgow" : 599650,
             "Manchester" : 503127, "Edinburgh" : 464990}
data4 = pd.Series(cities_uk)

In [8]:
data3 + data4

Abardeen            NaN
Birmingham          NaN
Dundee              NaN
Edinburgh      929980.0
Glasgow       1199300.0
Leeds               NaN
Manchester          NaN
dtype: float64

Notice how some of the results are NaN? Well, that is because there were no instances of those cities within both of the datasets. You can usually extract NaNs from a Series with
```python
data4.isnull()
```

## DataFrame <a name="dataframe"></a>
A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. The DataFrame has both row and column index and can be thought of as a dict of Series all sharing the same index.

The most common way to create a DataFrame is with dicts

In [9]:
data = {"cities" : ["Glasgow", "Edinburgh", "Abardeen", "Dundee"],
        "population" : [599650, 464990, 196670, 147710],
        "year" : [2011, 2013, 2013, 2013]}
frame = pd.DataFrame(data)

Try printing it out

In [10]:
frame

      cities  population  year
0    Glasgow      599650  2011
1  Edinburgh      464990  2013
2   Abardeen      196670  2013
3     Dundee      147710  2013

Jupyter Notebooks prints it out in a nice table but the basic version of this is also just as readable!

Additionally you can also specify the order of columns during initialisation

In [11]:
frame2 = pd.DataFrame(data, columns=["year", "cities", "population"])

You can retrieve a particular column from a DataFrame with
```python
frame["cities"]
```
The result is going to be a Series

Additionally, you can retrieve a row from the dataset using
```python
frame[1]
```
Try it out below

It is also possible to add and modify the columns of a DataFrame

In [12]:
frame2["size"] = 100

In [13]:
frame2

   year     cities  population  size
0  2011    Glasgow      599650   100
1  2013  Edinburgh      464990   100
2  2013   Abardeen      196670   100
3  2013     Dundee      147710   100

In [14]:
frame2["size"] = [175, 264, 65.1, 60]  # in km^2

Similar to dicts, columns can be deleted using
```python
del frame2["size"]
```

Another common way of creating DataFrames is from a nested dict of dicts:

In [15]:
data2 = {"Glasgow": {2011: 599650},
        "Edinburgh": {2013:464990},
        "Abardeen": {2013: 196670}}

frame3 = pd.DataFrame(data)
frame3

      cities  population  year
0    Glasgow      599650  2011
1  Edinburgh      464990  2013
2   Abardeen      196670  2013
3     Dundee      147710  2013

Here is a table of different ways of initialising a DataFrame for your reference

| Type | Notes |
| --- | --- |
| 2D ndarray | A matrix of data; passing optional row and column labels |
| dict of arrays, lists, or tuples | Each sequence becomes a column in the DataFrame; all sequences must be the same length |
| dict of Series | Each value becomes a column; indexes from each Series are unioned together to<br>form the result's row index if not explicit index is passed |
| dict of dicts | Each inner dict becomes a column; keys are unioned to form the row<br>index as in the "dict of Series" case |
| List of dicts or Series | Each item becomes a row in the DataFrame; union of dict keys or<br>Series indices becomes the DataFrame's column labels |
| List of lists or tuples | Treated as the "2D ndarray" case |

# Essential Functionality <a name="ess_func"></a>
In this section, we will go through the fundamental mechanics of interacting with the data contained in a Series or DaraFrame.

## Reindexing <a name="reindexing"></a>
With pandas it is easy to restructure the order of your columns and rows using the `reindex` function. Let's have a look at an example:

In [16]:
# first define a new Series
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
# Now you can reshuffle the indices
s = s.reindex(['d', 'b', 'a', 'c', 'e'])
s

d    4
b    2
a    1
c    3
e    5
dtype: int64

Easy as that! This can also be extended for DataFrames, where you can reorder both the columns and indices at the same time!

In [18]:
# first define a new Dataframe
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])
df

   Edinburgh  Glasgow  Aberdeen
a          0        1         2
b          3        4         5
c          6        7         8

In [19]:
# Now we can restructure it with reindex
df = df.reindex(index=["a", "d", "c", "b"],
          columns=["Aberdeen", "Glasgow", "Edinburgh", "Dundee"])

Notice something interesting? We can actually add new indices and columns using the `reindex` method. This results in the new slots in our table to be filled in with `NaN` values.

## Removing columns/indices <a name="removing"></a>
Similar to above, it is easy to remove entries. This is done with the `drop()` method and can be applied to both columns and indices:

In [20]:
# define new DataFrame
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])

df.drop("b")

   Edinburgh  Glasgow  Aberdeen
a          0        1         2
c          6        7         8

In [21]:
# You can also drop from a column
df.drop(["Aberdeen", "Edinburgh"], axis="columns")

   Glasgow
a        1
b        4
c        7

## Indexing, slicing and filtering <a name="indexing"></a>

### Indexing

Series indexing works analogously to NumPy array indexing (i.e. `data[...]`). You can also use the Series' index values instead of only integers:

In [22]:
s = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
s

a    0
b    1
c    2
d    3
dtype: int64

In [23]:
s[1]

1

In [24]:
s[3]

3

In [25]:
s["c"]

2

In [26]:
s[[1,3]]

b    1
d    3
dtype: int64

In [27]:
s[s<2]

a    0
b    1
dtype: int64

A subtle difference when indexing in pandas is that unlike in normal Python, slicing here is inclusive at the end-point.

In [28]:
s["b":"c"]

b    1
c    2
dtype: int64

All of the above also apply to DataFrames:

In [29]:
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])

df

   Edinburgh  Glasgow  Aberdeen
a          0        1         2
b          3        4         5
c          6        7         8

In [30]:
df[:2]

   Edinburgh  Glasgow  Aberdeen
a          0        1         2
b          3        4         5

In [31]:
df["Glasgow"]

a    1
b    4
c    7
Name: Glasgow, dtype: int64

### loc and iloc
For DataFrame label-indexing on the rows, you can use `loc` for labels and `iloc` for integer-indexing.

In [32]:
df.loc["b"]

Edinburgh    3
Glasgow      4
Aberdeen     5
Name: b, dtype: int64

In [33]:
df.loc["b", ["Glasgow", "Aberdeen"]]

Glasgow     4
Aberdeen    5
Name: b, dtype: int64

Now let's try `iloc`

In [34]:
df.iloc[1]

Edinburgh    3
Glasgow      4
Aberdeen     5
Name: b, dtype: int64

In [35]:
df.iloc[1, [1,2]]

Glasgow     4
Aberdeen    5
Name: b, dtype: int64

In [36]:
df.iloc[:2]

   Edinburgh  Glasgow  Aberdeen
a          0        1         2
b          3        4         5

Summary of indexing:

| Type | Notes |
| -- | -- |
| df\[val\]              | Select single column or sequency of columns from a DataFrame |
| df.loc\[val\]          | Select single row or subset of rows from a DataFrame by label |
| df.loc\[:, val\]       | Select single column or subset of columns by label |
| df.loc\[val1, val2\]   | Select both rows and columns by label |
| df.iloc\[idx\]         | Select single row or subset of rows from DataFrame by integer position |
| df.iloc\[:, idx\]      | Select single column or subset of columns by integer position |
| df.iloc\[idx1, idx2\]  | Select both rows and columns by integer position |
| reindex method         | Select either rows or columns by labels |

### Exercise 1
A dataset of random numbers is created below. Index the 47th column and the 22nd row. You should get the number **4621**.

*Note: Remember that Python uses 0-based indexing*

In [38]:
df = pd.DataFrame(np.reshape(np.arange(10000), (100,100)))

df.iloc[46,21]

4621

### Exercise 2
Using the same DataFrame from the previous exercise, obtain all rows starting from row 85 to 97.

In [40]:
df.iloc[84:96]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
84,8400,8401,8402,8403,8404,8405,8406,8407,8408,8409,...,8490,8491,8492,8493,8494,8495,8496,8497,8498,8499
85,8500,8501,8502,8503,8504,8505,8506,8507,8508,8509,...,8590,8591,8592,8593,8594,8595,8596,8597,8598,8599
86,8600,8601,8602,8603,8604,8605,8606,8607,8608,8609,...,8690,8691,8692,8693,8694,8695,8696,8697,8698,8699
87,8700,8701,8702,8703,8704,8705,8706,8707,8708,8709,...,8790,8791,8792,8793,8794,8795,8796,8797,8798,8799
88,8800,8801,8802,8803,8804,8805,8806,8807,8808,8809,...,8890,8891,8892,8893,8894,8895,8896,8897,8898,8899
89,8900,8901,8902,8903,8904,8905,8906,8907,8908,8909,...,8990,8991,8992,8993,8994,8995,8996,8997,8998,8999
90,9000,9001,9002,9003,9004,9005,9006,9007,9008,9009,...,9090,9091,9092,9093,9094,9095,9096,9097,9098,9099
91,9100,9101,9102,9103,9104,9105,9106,9107,9108,9109,...,9190,9191,9192,9193,9194,9195,9196,9197,9198,9199
92,9200,9201,9202,9203,9204,9205,9206,9207,9208,9209,...,9290,9291,9292,9293,9294,9295,9296,9297,9298,9299
93,9300,9301,9302,9303,9304,9305,9306,9307,9308,9309,...,9390,9391,9392,9393,9394,9395,9396,9397,9398,9399
94,9400,9401,9402,9403,9404,9405,9406,9407,9408,9409,...,9490,9491,9492,9493,9494,9495,9496,9497,9498,9499
95,9500,9501,9502,9503,9504,9505,9506,9507,9508,9509,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599

## Arithmetic <a name="arithmetic"></a>
When you are performing arithmetic operations between two objects, if any index pairs are not the same, the respective index in the result will be the union of the index pair. Let's have a look

In [41]:
s1 = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
s2 = pd.Series(np.arange(4), index=["b", "c", "d", "k"])
s1 + s2

a    NaN
b    1.0
c    3.0
d    5.0
e    NaN
k    NaN
dtype: float64

The internal data alignment introduces missing values in the label locations that don't overlap. It is similar for DataFrames:

In [42]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)),
                  columns=list("abcd"))
df1

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [43]:
df2 = pd.DataFrame(np.arange(16).reshape((4,4)),
                  columns=list("cdef"))
df2

    c   d   e   f
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [44]:
# adding the two
df1+df2

    a   b     c     d   e   f
0 NaN NaN   2.0   4.0 NaN NaN
1 NaN NaN  10.0  12.0 NaN NaN
2 NaN NaN  18.0  20.0 NaN NaN
3 NaN NaN   NaN   NaN NaN NaN

Notice how where we don't have matching values from `df1` and `df2` the output of the addition operation is `NaN` since there are no two numbers to add.

Well, we can "fix" that by filling in the `NaN` values. This effectively tells pandas where there are no two values to add, assume that the missing value is just zero.

In [45]:
df1.add(df2, fill_value=0)

     a    b     c     d     e     f
0  0.0  1.0   2.0   4.0   2.0   3.0
1  4.0  5.0  10.0  12.0   6.0   7.0
2  8.0  9.0  18.0  20.0  10.0  11.0
3  NaN  NaN  12.0  13.0  14.0  15.0

Another important point here is although the normal arithmetic operations work here, there also exist dedicated methods like `DataFrame.add()` which achieve the same functionality + a bit extra.

Here's a list of all arithmetic operations within pandas:

| Operator | Method | Description |
| -- | -- | -- |
| + | add, radd | Addition |
| - | sub, rsub | Subtraction |
| / | div, rdiv | Division |
| // | floordiv, rfloordiv | Floor division |
| * | mul, rmul | Multiplication |
| ** | pow, rpow | Exponentiation |

Notice how some of the methods have `r` in front of them? That stands for reversed and effectively reverses the operands. For example

```python
df1.div(df2)
```
would be the same as
```python
df1/df2
```

but....
```python
df1.rdiv(df2)
```
would be the same as
```python
df2/df1
```

### Exercise 3
Create a (3,3) DataFrame and square all elements in it.

In [47]:
pd.DataFrame(np.arange(9).reshape(3,3)) ** 2

    0   1   2
0   0   1   4
1   9  16  25
2  36  49  64

### Broadcasting
Similar to numpy, in pandas you can also broadcast data structures. Let's consider a simple example:

In [48]:
df1 = pd.DataFrame(np.arange(16).reshape((4,4)))
df1

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [49]:
df2 = pd.Series(np.arange(4))
df2

0    0
1    1
2    2
3    3
dtype: int64

In [50]:
df1 - df2

    0   1   2   3
0   0   0   0   0
1   4   4   4   4
2   8   8   8   8
3  12  12  12  12

Notice how the Series of [0, 1, 2, 3] got removed from each row? That is called broadcasting.

It can also be used for columns, but for that, you have to use the method arithmetic operations.

In [51]:
df1.sub(df2, axis="index")

   0   1   2   3
0  0   1   2   3
1  3   4   5   6
2  6   7   8   9
3  9  10  11  12

### Sorting
Sorting is an important built-in operation of pandas. Let's have a look at how you can do it:

In [52]:
df1 = pd.DataFrame(np.arange(16).reshape((4,4)), index=["b", "a", "d", "c"])
df1

    0   1   2   3
b   0   1   2   3
a   4   5   6   7
d   8   9  10  11
c  12  13  14  15

In [53]:
df2 = df1.sort_index()
df2

    0   1   2   3
a   4   5   6   7
b   0   1   2   3
c  12  13  14  15
d   8   9  10  11

Easy as that. Furthermore, you can also sort along the column axis with
```python
df1.sort_index(axis=1)
```

You can also sort by the actual values inside, but you have to give the column by which you want to sort.

In [54]:
df1 = pd.DataFrame([4, 3, 6, 1, 3, 5], columns=["a"])
df1

   a
0  4
1  3
2  6
3  1
4  3
5  5

In [55]:
df1.sort_values(by="a")

   a
3  1
1  3
4  3
0  4
5  5
2  6

## Summarizing and computing descriptive stats <a name="sums"></a>
`pandas` is equipped with common mathematical and statistical methods. Most of which fall into the category of reductions or summary statistics. These are methods that extract a single value from a list of values. For example, you can extract the mean of a `Series` object like this:

In [56]:
df = pd.DataFrame(np.arange(20).reshape(5,4),
                 columns=["a", "b", "c", "d"])
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [57]:
df.sum()

a    40
b    45
c    50
d    55
dtype: int64

Notice how that created the sum of each column?

Well you can actually make that the other way around by adding an extra option to `sum()`

In [58]:
df.sum(axis="columns")

0     6
1    22
2    38
3    54
4    70
dtype: int64

A similar method also exists for obtaining the mean of data:

In [59]:
df.mean()

a     8.0
b     9.0
c    10.0
d    11.0
dtype: float64

Finally, the mother of the methods we discussed here is `describe()`

In [60]:
df.describe()

               a          b          c          d
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

Here are some of the summary methods:

| Method | Description |
| -- | -- |
| count          | Return number of non-NA values |
| describe       | Set of summary statistics |
| min, max       | Minimum, maximum values |
| argmin, argmax | Index locations at which the minimum or maximum value is obtained | 
| sum            | Sum of values |
| mean           | Mean of values |
| median         | Arithmetic median of values |
| std            | Sample standard deviation of values
| value_counts() | Counts the number of occurrences of each unique element in a column |

### Exercise 4

A random DataFrame is created below. Find it's mean and standard deviation, then normalise it column-wise according to the formula:

$$ Y = \frac{X - \mu}{\sigma} $$

Where X is your dataset, $\mu$ is the mean and $\sigma$ is the standard deviation.

In [62]:
df = pd.DataFrame(np.random.uniform(0, 10, (100, 100)))

df2 = (df - df.mean())/df.std()
df2

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.513870,1.396583,-0.246373,0.412241,1.579367,0.363903,-1.323891,-1.113526,-0.877806,0.881624,...,1.061778,1.647589,0.608297,0.931085,-0.305219,-0.679682,1.323216,-1.000440,1.158411,0.271465
1,1.631868,-1.075335,0.170484,1.453664,1.357602,-1.597306,1.342091,-1.775401,1.129466,-1.180717,...,-1.806966,-0.856221,0.223695,-0.972374,0.176362,0.792399,-0.528541,0.796424,0.728051,-1.104085
2,-0.514866,0.374350,-1.009489,0.086802,-1.696162,0.194635,1.231866,1.121161,0.736265,-0.563802,...,-1.273403,-1.178026,1.542241,1.006310,0.538693,0.789394,0.540420,0.742471,0.203087,-1.486384
3,0.886998,0.052952,1.716351,-0.169000,-1.037321,-1.554467,1.375881,1.256623,-0.206046,-0.299600,...,0.967154,1.519549,1.556544,-0.068761,1.182859,-0.647793,-0.700245,0.705043,-0.825873,1.851311
4,1.391114,0.418370,-1.037966,0.312837,-0.964962,-1.330757,0.641659,1.299796,0.038224,0.356430,...,-0.912055,0.942265,-0.054322,0.174229,-0.782228,-0.613781,-1.241414,0.528770,-1.546610,-0.655011
5,-0.978640,0.882280,1.098095,1.637879,1.623599,1.164122,0.459580,-1.200620,-0.101569,-1.025493,...,-0.178119,0.153881,-1.489814,0.010346,1.043027,1.248067,1.028140,-0.870393,-0.706648,1.744279
6,0.735374,1.603069,-0.607167,1.751502,1.457694,-1.035909,0.547590,0.782969,1.545038,1.538226,...,0.969993,-0.325719,0.994623,-1.531772,1.115576,0.459712,0.949289,-0.787418,-0.295029,0.903614
7,-1.348100,-0.399150,-1.218192,1.062848,0.749450,-1.029018,0.392363,0.421657,0.277607,1.341795,...,0.564476,-1.216358,1.071405,-0.202719,0.165891,-0.592823,0.805909,0.591497,-1.093653,-1.055484
8,1.285660,0.526640,-0.327848,-0.794804,0.136058,0.355371,1.387508,-0.973951,-1.477451,1.033896,...,0.944201,-0.329253,0.670113,0.898907,-1.234780,-1.424890,1.544366,-0.845917,0.405283,0.693724
9,1.564215,-0.530578,-1.378221,1.484833,-0.121855,-1.147937,-0.646704,1.363795,-1.422009,-0.908234,...,-1.839381,0.365275,1.490728,-0.444500,0.555258,1.260674,-0.156228,-1.821950,1.436147,-1.629020
10,-1.512300,1.257621,-0.950904,0.097102,0.066319,1.201285,-1.479766,1.081254,-0.700119,0.551702,...,-0.511107,-0.801593,-0.291530,-0.149648,-0.885823,-0.679197,-1.809390,1.392497,1.610417,0.636615
11,0.676772,-0.382604,0.152292,1.184203,0.885681,-1.561482,0.544845,0.825152,0.851938,0.386944,...,0.706691,-1.175663,-0.441140,-1.470221,-0.088202,-0.315637,0.481602,0.378751,-1.696612,-0.433806
12,0.240678,-1.393210,0.187365,-0.798240,0.226787,-0.633688,-0.989422,-1.293567,1.050305,0.351630,...,1.583936,0.168961,-0.907365,1.536351,0.692415,-0.558356,1.183726,0.025276,0.922382,-0.886471
13,0.340047,0.938168,-1.118608,-0.523279,-0.761692,0.586611,0.016273,-0.059960,-0.971746,0.203671,...,-1.582610,-1.445128,0.929069,0.529699,-0.288482,0.100620,-0.339643,-1.342788,0.285311,-1.530031
14,-0.216206,-0.081457,-0.066678,0.712012,-0.933661,0.107191,1.538183,1.312979,1.597155,0.204361,...,0.851806,1.574912,-1.057158,0.897952,0.334998,-1.499413,-0.557911,0.893911,-1.525342,-0.772764
15,-0.393874,-0.217956,0.505092,1.288478,0.743926,1.529977,-1.468972,0.813537,-1.114886,-0.573397,...,-0.397053,0.327747,0.515145,0.648666,-0.041444,0.037236,0.563206,1.500904,0.985118,1.295535
16,1.448163,-1.468940,0.296056,-0.724831,0.647826,-0.180198,-1.700891,0.269400,0.671001,0.743764,...,-1.011690,0.961830,-0.257341,-1.322110,-0.140934,1.127069,0.961686,1.278722,1.053308,0.611221
17,0.909765,1.254015,1.629871,-0.727945,0.364806,-1.244102,-0.660909,-1.646826,1.657767,1.276033,...,-0.281521,1.723603,-1.584701,-0.319174,-1.711071,-1.183856,1.509604,0.526637,-0.805211,-1.732134
18,-0.734810,-0.748138,1.446927,0.207259,0.760452,1.116326,-0.842161,-0.789068,0.532212,0.759320,...,1.465185,0.401349,-0.966394,-0.362602,1.127971,0.752127,-0.106078,1.265856,0.211697,0.269893
19,0.190232,-0.380382,-0.956613,0.161797,0.358565,1.054044,-0.502211,1.479995,0.543587,-0.610027,...,0.905991,0.590617,0.979145,-1.668567,1.387817,-0.542651,-1.742281,-1.127449,-1.631693,0.071839
20,0.171497,-0.568547,-0.181602,1.280796,-0.607141,-1.314850,0.877709,-1.303426,-0.263439,-0.578028,...,0.463058,-0.343679,-1.369579,1.682706,-0.492890,1.073619,1.642233,-1.790007,-0.242860,-0.465673
21,-1.773808,-0.806683,1.710190,1.529340,0.149329,0.015717,-1.664649,-0.333638,0.959662,-1.626720,...,-0.076300,0.181243,-0.343203,1.127871,-1.857502,-0.760829,-1.716068,-0.238514,0.830074,1.099593
22,-0.232519,-0.199589,0.034674,-0.284041,0.924887,1.394155,0.390990,0.467035,-0.711218,-0.232838,...,0.516714,0.670454,1.216928,1.133620,-1.013026,-1.129269,1.325263,1.292575,0.501611,1.526500
23,-1.171088,0.141293,1.626429,0.168721,-1.727745,1.386053,0.263236,1.137646,0.360819,1.443515,...,0.862208,-1.184068,1.456381,0.892589,-0.674029,-1.409532,0.050445,-0.772777,1.630130,1.186272
24,-1.583545,0.526075,-0.406596,-1.025639,-1.104152,-1.492721,0.094901,-1.687825,0.522421,-0.947742,...,-0.274502,-1.410834,-0.511294,-1.479222,1.539949,-0.185147,-1.623003,1.281739,0.106110,-0.587262
25,-0.247518,-0.116995,0.005844,1.353575,1.295124,-0.134358,1.053640,-1.656545,-0.071846,0.962144,...,-1.318647,1.559977,-0.074145,-0.378504,0.869430,-0.069882,-1.669445,-0.498185,-1.576615,-0.777916
26,1.587095,0.230919,0.362958,-1.250820,1.657170,-0.718975,0.330160,-0.126438,-1.220022,-1.125991,...,-0.649107,1.306017,0.482203,0.145802,1.448299,-0.520351,-1.056655,-0.805319,-1.254778,0.418933
27,0.935906,-0.145264,-1.250488,-1.470936,1.506688,-1.313323,1.518933,0.610692,-0.491017,-1.627820,...,0.902349,1.508875,-1.127943,-0.570377,0.352445,-0.110769,-1.567606,-1.748038,-1.510443,0.548930
28,0.719676,-0.814732,-1.725769,-1.235741,-0.586766,0.796515,-1.080151,0.608303,0.782711,-0.265900,...,1.390754,-1.492590,-0.500209,-0.435704,0.911975,1.868319,-0.857274,1.058341,-0.547400,0.169497
29,-0.209103,1.559806,-0.736238,0.930045,-1.183643,-1.525615,0.653475,-1.798585,-1.294609,0.813010,...,-1.518635,0.192210,-0.855648,-1.609667,-0.225023,-0.247551,-0.314739,0.907275,-1.162187,0.812885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,-0.374306,-0.509877,1.139351,0.463223,-0.122952,0.257494,0.984939,0.808924,-0.961834,-0.648294,...,0.403268,-1.599651,-1.036633,1.665229,-0.067446,1.100297,-0.316657,-0.748823,-1.401503,0.561532
71,-0.850873,-0.903579,1.431794,-0.028323,1.481066,-0.906899,1.372466,-0.408602,1.639764,1.169778,...,1.226428,1.316993,0.943541,0.488501,-0.272406,-1.459338,1.011081,-1.737450,1.757685,0.941178
72,0.455261,-1.356238,-1.665984,-1.043824,0.780949,-1.618006,0.502182,-0.488663,-0.570120,0.715019,...,0.338761,-1.490060,0.993442,0.918406,0.071260,-1.580971,0.975308,0.125080,-1.371668,-0.822416
73,1.398525,-0.630447,0.869634,1.186189,-0.693715,-0.056440,0.763450,0.636438,-0.362792,-0.817460,...,-1.068658,1.172448,-1.668875,-0.478816,0.243758,-0.956590,-0.921063,0.527734,-0.551796,0.041946
74,1.195139,-0.649233,-1.749415,0.481350,-0.879385,0.861043,0.543140,-1.344145,1.061763,0.812840,...,-0.217410,-0.466573,0.166679,0.379972,-1.893531,-1.453595,0.445461,-1.830092,-1.130029,-1.471436
75,1.219581,-1.355438,-0.143437,1.374460,0.535197,0.517635,1.051577,-0.687447,1.252113,0.701283,...,-1.661371,-1.249170,-1.097037,-1.135348,-1.109167,0.297080,1.468701,0.526295,0.359638,-0.103874
76,-0.772830,-0.029715,0.074375,-0.490430,1.480858,0.587917,-1.002865,0.425643,-0.961998,-0.647699,...,1.679556,-1.541915,0.857821,-0.828734,0.806509,-1.216620,0.150009,-0.438745,1.178379,-1.657935
77,-0.970610,1.621268,0.976901,-1.000428,0.486647,-1.027562,-0.227339,-0.018820,-0.136400,-0.170005,...,0.491278,0.778125,0.015861,0.396135,-0.920930,-0.695792,-0.312448,-0.247626,1.490141,-0.907475
78,-1.565164,1.675003,0.266903,-1.066366,-0.482731,1.611849,-1.662038,-0.139250,-1.121025,-1.244859,...,-1.004240,-0.931624,0.501343,-0.268321,0.382614,-1.530718,0.115311,1.254945,0.306358,-0.465282
79,-1.588639,-0.972567,-0.409528,-0.931689,-1.281164,0.806443,-1.223291,0.080806,-1.573407,1.335915,...,0.917508,-0.523602,0.950502,1.499240,-1.719770,1.244792,0.629544,-1.428163,0.994619,-0.018197
80,0.040967,1.623519,-0.717045,-1.237592,-0.636891,0.066840,-0.408493,-0.823917,-1.419024,1.440702,...,1.614721,0.755044,-1.705512,1.534536,1.396306,-1.434376,-1.635364,-1.417336,0.186586,-1.529835
81,1.471870,0.065310,0.981485,1.151370,-1.252160,-0.416664,-0.109791,-0.216107,0.083090,-0.307073,...,-1.734761,-1.161675,-0.098638,1.035213,1.393117,0.589706,0.940245,-0.886534,-0.368786,0.087320
82,0.443744,1.315541,-0.305109,0.001978,-0.079711,-0.171958,1.419704,1.473038,1.729698,0.986627,...,0.287173,1.571421,-0.454864,0.867487,-0.977401,0.555789,0.076087,0.173998,0.091385,0.482194
83,0.029843,0.767682,-0.993877,1.717344,-0.995321,-0.941138,-0.989065,1.184264,1.613218,1.674028,...,1.575743,-0.263912,0.753665,1.514962,0.051583,0.512572,-1.121129,-1.858649,1.716891,-1.288875
84,0.943205,-0.062812,0.137365,1.673334,1.457726,1.421604,-0.296355,1.440719,-0.053801,-1.800137,...,-1.788354,1.578393,0.091042,-0.914965,0.418812,-0.225515,1.083822,-1.846586,-0.881830,1.241672
85,1.143780,-1.227919,-0.038486,-0.991480,0.334727,-0.003853,0.906715,-1.280948,-0.299935,-0.922888,...,1.605559,-0.014674,-1.172934,-1.618927,0.367595,0.110084,0.603344,-0.004074,-0.474540,-0.316894
86,-0.894993,-0.105199,-1.185358,-0.835168,0.180074,-0.075097,0.988637,0.710944,0.236767,-0.706053,...,-0.825000,0.699982,1.274639,0.371174,0.052800,-1.530699,1.676907,-0.063711,0.262439,-0.854201
87,-0.719007,-0.071196,1.467955,0.876265,0.449004,0.403144,-0.545273,-1.497419,0.844362,0.976808,...,0.433169,-0.853505,-1.251983,-0.917957,1.104403,-1.157357,0.643374,0.211782,-0.543510,-0.295384
88,-0.901002,-1.211165,-0.040284,-1.324867,0.388089,-1.272009,-1.084499,1.501458,0.328346,-0.762704,...,-0.708126,-0.261010,1.474982,-1.051313,1.270748,1.439772,1.314050,1.017364,-0.429077,-1.597541
89,-1.581999,0.329491,-1.593734,-1.164570,-0.062949,0.090999,1.343263,0.140127,1.047308,-1.889868,...,-0.049631,0.298881,1.320489,-0.547441,-0.743548,-0.616080,0.404941,-1.630911,0.959541,0.794803
90,1.384090,-0.844580,-0.743064,-0.630105,-1.202180,-0.535705,-1.129373,0.385504,1.286978,-1.661751,...,-0.187767,0.542780,0.900464,-1.498064,1.308647,-0.556545,0.042047,-0.086129,0.397801,-0.990178
91,-0.861300,1.182918,-0.226505,-0.187358,-0.301630,0.584219,1.485748,1.264118,-1.216566,0.193704,...,0.048404,-1.545104,1.450316,-0.095114,1.409027,0.779509,0.218895,0.658453,0.122641,-1.373730
92,-0.824783,-1.077926,0.891118,0.517056,-0.194426,1.435527,-0.239051,1.204818,-1.407671,-0.787198,...,0.444560,-0.254857,-0.679714,-1.054029,0.926229,1.437916,0.708352,-1.236232,-1.261535,-0.488064
93,0.785421,0.333046,0.050298,-1.126874,1.115591,1.287045,-0.095741,-0.176628,-1.383699,-1.748018,...,0.436805,-0.178552,-1.408312,-1.546488,1.305025,1.097852,0.815681,-1.185418,0.929243,0.570606
94,-1.189086,1.398801,-0.835365,-1.377584,0.708942,-0.990116,0.848418,0.566546,1.715034,-0.687138,...,1.412452,-0.520480,1.118536,0.857002,0.768750,0.795685,0.859676,-0.570313,0.916351,0.801122
95,-0.837958,-1.365456,0.184541,0.325820,0.127239,1.486810,0.300611,0.263508,-0.638503,1.576994,...,-0.991597,0.176691,0.532893,1.618070,0.765631,0.161272,0.437025,0.783952,-0.232400,-1.849131
96,-0.228477,-1.329432,1.195103,-0.498452,1.203354,1.253191,-1.484169,-0.672890,-1.012603,0.135583,...,-0.538102,-1.650884,-0.970296,-0.883116,-0.862598,1.180413,-0.473918,1.522473,1.424520,0.284405
97,-1.124243,-0.882249,-1.272757,0.278280,-0.231825,0.013484,0.751978,-0.734291,0.589624,0.708419,...,-0.997549,-1.623525,-0.069153,-1.075970,0.138066,1.117055,-0.235805,-1.164599,0.428549,1.483252
98,0.197683,0.271390,-0.438227,-1.475379,0.154414,-1.211315,0.887269,-0.991987,1.370059,1.412520,...,0.643335,-0.854826,-0.558995,0.906758,-0.873148,1.879480,-0.615526,0.301785,0.414691,0.160866
99,0.974161,-1.046334,-1.358202,-0.644732,-0.289628,-1.222582,0.960976,1.144446,0.867853,0.491895,...,1.205216,0.752640,-1.621746,0.842248,-0.701166,0.881687,-0.847757,0.553707,1.235270,0.379624

# Data Loading and Storing <a name="loading"></a>
Accessing data is a necessary first step for data science. In this section, the focus will be on data input and output in various formats using `pandas`

Data usually fall into these categories:
- text files
- binary files (more efficient space-wise)
- web data

## Text formats <a name="text"></a>
The most common format in this category is by far `.csv`. This is an easy to read file format which is usually visualised like a spreadsheet. The data itself is usually separated with a `,` which is called the **delimiter**.

Here is an example of a `.csv` file:

```
Sell,List,Living,Rooms,Beds,Baths,Age,Acres,Taxes
142, 160, 28, 10, 5, 3,  60, 0.28,  3167
175, 180, 18,  8, 4, 1,  12, 0.43,  4033
129, 132, 13,  6, 3, 1,  41, 0.33,  1471
138, 140, 17,  7, 3, 1,  22, 0.46,  3204
232, 240, 25,  8, 4, 3,   5, 2.05,  3613
135, 140, 18,  7, 4, 3,   9, 0.57,  3028
150, 160, 20,  8, 4, 3,  18, 4.00,  3131
207, 225, 22,  8, 4, 2,  16, 2.22,  5158
271, 285, 30, 10, 5, 2,  30, 0.53,  5702
 89,  90, 10,  5, 3, 1,  43, 0.30,  2054
 ```

It detailed home sale statistics. The first line is called the header, and you can imagine that it is the name of the columns of a spreadsheet.

Let's now see how we can load this data and analyse it. The file is located in the folder `data` and is called `homes.csv`. We can read it like this:

In [63]:
homes = pd.read_csv("data/homes.csv")

In [64]:
homes

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0    142   160      28     10     5      3   60   0.28   3167
1    175   180      18      8     4      1   12   0.43   4033
2    143   145      21      7     4      2   10   1.20   3529
3    129   132      13      6     3      1   41   0.33   1471
4    138   140      17      7     3      1   22   0.46   3204
5    232   240      25      8     4      3    5   2.05   3613
6    135   140      18      7     4      3    9   0.57   3028
7    150   160      20      8     4      3   18   4.00   3131
8    293   305      26      8     4      3    6   0.46   7088
9    207   225      22      8     4      2   16   2.22   5158
10   271   285      30     10     5      2   30   0.53   5702
11    89    90      10      5     3      1   43   0.30   2054
12   153   157      22      8     3      3   18   0.38   4127
13    87    90      16      7     3      1   50   0.65   1445
14   234   238      25      8     4      2    2   1.61   2087
15   106   116      20      8     4      1   13   0.22   2818
16   175   180      22      8     4      2   15   2.06   3917
17   165   170      17      8     4      2   33   0.46   2220
18   166   170      23      9     4      2   37   0.27   3498
19   136   140      19      7     3      1   22   0.63   3607
20   148   160      17      7     3      2   13   0.36   3648
21   151   153      19      8     4      2   24   0.34   3561
22   180   190      24      9     4      2   10   1.55   4681
23   293   305      26      8     4      3    6   0.46   7088
24   167   170      20      9     4      2   46   0.46   3482
25   190   193      22      9     5      2   37   0.48   3920
26   184   190      21      9     5      2   27   1.30   4162
27   157   165      20      8     4      2    7   0.30   3785
28   110   115      16      8     4      1   26   0.29   3103
29   135   145      18      7     4      1   35   0.43   3363
30   567   625      64     11     4      4    4   0.85  12192
31   180   185      20      8     4      2   11   1.00   3831
32   183   188      17      7     3      2   16   3.00   3564
33   185   193      20      9     3      2   56   6.49   3765
34   152   155      17      8     4      1   33   0.70   3361
35   148   153      13      6     3      2   22   0.39   3950
36   152   159      15      7     3      1   25   0.59   3055
37   146   150      16      7     3      1   31   0.36   2950
38   170   190      24     10     3      2   33   0.57   3346
39   106   116      20      8     4      1   13   0.22   2818
40   127   130      20      8     4      1   65   0.40   3334
41   265   270      36     10     6      3   33   1.20   5853
42   157   163      18      8     4      2   12   1.13   3982
43   128   135      17      9     4      1   25   0.52   3374
44   110   120      15      8     4      2   11   0.59   3119
45   123   130      18      8     4      2   43   0.39   3268
46   148   153      13      6     3      2   22   0.39   3950
47   212   230      39     12     5      3  202   4.29   3648
48   145   145      18      8     4      2   44   0.22   2783
49   129   135      10      6     3      1   15   1.00   2438
50   143   145      21      7     4      2   10   1.20   3529
51   247   252      29      9     4      2    4   1.25   4626
52   111   120      15      8     3      1   97   1.11   3205
53   133   145      26      7     3      1   42   0.36   3059
54    87    90      16      7     3      1   50   0.65   1445

Easy right?

### Exercise 5
Find the mean selling price of the homes in `data/homes.csv`

In [65]:
homes.mean()

Sell       169.000000
List       176.836364
Living      20.945455
Rooms        7.981818
Beds         3.800000
Baths        1.854545
Age         29.309091
Acres        0.980909
Taxes     3711.545455
dtype: float64

The `read_csv` function has a lot of optional arguments (more than 50). It's impossible to memorise all of them - it's usually best just to look up the particular functionality when you need it. 

You can search `pandas read_csv` online and find all of the documentation.

There are also many other functions that can read textual data. Here are some of them:

| Function | Description
| -- | -- |
| read_csv       | Load delimited data from a file, URL, or file-like object. The default delimiter is a comma `,` |
| read_table     | Load delimited data from a file, URL, or file-like object. The default delimiter is tab `\t` |
| read_clipboard | Reads the last object you have copied (Ctrl-C) |
| read_excel     | Read tabular data from Excel XLS or XLSX file |
| read_hdf       | Read HDF5 file written by pandas |
| read_html      | Read all tables found in the given HTML document |
| read_json      | Read data from a JSON string representation |
| read_sql       | Read the results of a SQL query |

*Note: there are also other loading functions which are not touched upon here*

### Exercise 6
There is another file in the data folder called `homes.xlsx`. Can you read it? Can you spot anything different?

In [66]:
pd.read_excel("data/homes.xlsx")

   Sell   List   Living   Rooms   Beds   Baths    Age   Acres    Taxes
0   142  160.0     28.0    10.0    5.0     3.0   60.0    0.28   3167.0
1   175  180.0     18.0     8.0    4.0     1.0   12.0    0.43   4033.0
2   129  132.0     13.0     6.0    3.0     1.0   41.0    0.33   1471.0
3   138  140.0     17.0     7.0    3.0     1.0   22.0    0.46   3204.0
4   232  240.0     25.0     8.0    4.0     3.0    5.0    2.05   3613.0
5   135  140.0     18.0     7.0    4.0     3.0    9.0    0.57   3028.0
6   150  160.0     20.0     8.0    4.0     3.0   18.0    4.00   3131.0
7   207  225.0     22.0     8.0    4.0     2.0   16.0    2.22   5158.0
8   271  285.0     30.0    10.0    5.0     2.0   30.0    0.53   5702.0
9    89   90.0     10.0     5.0    3.0     1.0   43.0    0.30   2054.0
10  153  157.0     22.0     8.0    3.0     3.0   18.0    0.38   4127.0
11   87   90.0     16.0     7.0    3.0     1.0   50.0    0.65   1445.0
12  234  238.0     25.0     8.0    4.0     2.0    2.0    1.61   2087.0
13  106  116.0     20.0     8.0    4.0     1.0   13.0    0.22   2818.0
14  175  180.0     22.0     8.0    4.0     2.0   15.0    2.06   3917.0
15  165  170.0     17.0     8.0    4.0     2.0   33.0    0.46   2220.0
16  166  170.0     23.0     9.0    4.0     2.0   37.0    0.27   3498.0
17  136  140.0     19.0     7.0    3.0     1.0   22.0    0.63   3607.0
18  148  160.0     17.0     7.0    3.0     2.0   13.0    0.36   3648.0
19  151  153.0     19.0     8.0    4.0     2.0   24.0    0.34   3561.0
20  180  190.0     24.0     9.0    4.0     2.0   10.0    1.55   4681.0
21  293  305.0     26.0     8.0    4.0     3.0    6.0    0.46   7088.0
22  167  170.0     20.0     9.0    4.0     2.0   46.0    0.46   3482.0
23  190  193.0     22.0     9.0    5.0     2.0   37.0    0.48   3920.0
24  184  190.0     21.0     9.0    5.0     2.0   27.0    1.30   4162.0
25  157  165.0     20.0     8.0    4.0     2.0    7.0    0.30   3785.0
26  110  115.0     16.0     8.0    4.0     1.0   26.0    0.29   3103.0
27  135  145.0     18.0     7.0    4.0     1.0   35.0    0.43   3363.0
28  567  625.0     64.0    11.0    4.0     4.0    4.0    0.85  12192.0
29  180  185.0     20.0     8.0    4.0     2.0   11.0    1.00   3831.0
30  183  188.0     17.0     7.0    3.0     2.0   16.0    3.00   3564.0
31  185  193.0     20.0     9.0    3.0     2.0   56.0    6.49   3765.0
32  152  155.0     17.0     8.0    4.0     1.0   33.0    0.70   3361.0
33  148  153.0     13.0     6.0    3.0     2.0   22.0    0.39   3950.0
34  152  159.0     15.0     7.0    3.0     1.0   25.0    0.59   3055.0
35  146  150.0     16.0     7.0    3.0     1.0   31.0    0.36   2950.0
36  170  190.0     24.0    10.0    3.0     2.0   33.0    0.57   3346.0
37  127  130.0     20.0     8.0    4.0     1.0   65.0    0.40   3334.0
38  265  270.0     36.0    10.0    6.0     3.0   33.0    1.20   5853.0
39  157  163.0     18.0     8.0    4.0     2.0   12.0    1.13   3982.0
40  128  135.0     17.0     9.0    4.0     1.0   25.0    0.52   3374.0
41  110  120.0     15.0     8.0    4.0     2.0   11.0    0.59   3119.0
42  123  130.0     18.0     8.0    4.0     2.0   43.0    0.39   3268.0
43  212  230.0     39.0    12.0    5.0     3.0  202.0    4.29   3648.0
44  145  145.0     18.0     8.0    4.0     2.0   44.0    0.22   2783.0
45  129  135.0     10.0     6.0    3.0     1.0   15.0    1.00   2438.0
46  143  145.0     21.0     7.0    4.0     2.0   10.0    1.20   3529.0
47  247  252.0     29.0     9.0    4.0     2.0    4.0    1.25   4626.0
48  111  120.0     15.0     8.0    3.0     1.0   97.0    1.11   3205.0
49  133  145.0     26.0     7.0    3.0     1.0   42.0    0.36   3059.0
50         NaN      NaN     NaN    NaN     NaN    NaN     NaN      NaN

### Writing CSV files
Easy!

In [67]:
homes.to_csv("test.csv")

### Exercise  7
Create a DataFrame which consists of all numbers 0 to 1000. Reshape it into 50 rows and save it to a `.csv` file. How many columns did you end up with?

In [68]:
df = pd.DataFrame(np.arange(1000).reshape(50, -1))
df.to_csv("ex7.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39
2,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
3,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79
4,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
5,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119
6,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139
7,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159
8,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179
9,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199
10,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219
11,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239
12,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259
13,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279
14,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299
15,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319
16,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339
17,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359
18,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379
19,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399
20,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419
21,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439
22,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459
23,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479
24,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499
25,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519
26,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539
27,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559
28,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579
29,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599
30,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619
31,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639
32,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659
33,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679
34,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699
35,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719
36,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739
37,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759
38,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779
39,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799
40,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819
41,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839
42,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859
43,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879
44,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899
45,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919
46,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939
47,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959
48,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979
49,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999

### Exercise 8
There is a dataset `data/yob2012.txt` which lists the number of newborns registered in 2018 with their names and sex. Open the dataset in pandas **as a csv**, explore it and derive the ratio between male and female newborns.

*Note: The file doesn't contain a header so you will need to add your own column names with*
```python
pd.read_csv("...", names=["Some", "Fun", "Columns"]
```

In [75]:
df = pd.read_csv("data/yob2012.txt", names=["Name", "Sex", "idk"])
sexes = df.Sex.value_counts()

sexes[0] / sexes[1]

1.3694428812605515

## Web scraping <a name="web"></a>
It is also very easy to scrape webpages and extract tables from them.

For example, let's consider extracting the table of failed American banks.

In [76]:
url = "https://www.fdic.gov/bank/individual/failed/banklist.html"
banks = pd.read_html(url)
banks = banks[0]

In [77]:
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"
5,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","March 7, 2018"
6,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","May 18, 2017"
7,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","May 18, 2017"
8,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","September 25, 2017"
9,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","December 13, 2018"
10,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","November 13, 2018"
11,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 14, 2018"
12,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","March 13, 2017"
13,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
14,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"
15,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
16,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
17,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"
18,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015"
19,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","November 15, 2017"
20,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","November 15, 2017"
21,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 3, 2018"
22,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
23,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
24,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","February 19, 2018"
25,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
26,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","October 6, 2017"
27,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","February 21, 2018"
28,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","February 14, 2018"
29,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","June 26, 2015"
...,...,...,...,...,...,...,...
525,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","August 28, 2012"
526,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","August 28, 2012"
527,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
528,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
529,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","August 28, 2012"
530,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
531,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
532,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
533,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","April 17, 2018"
534,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
535,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","October 6, 2017"
536,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
537,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
538,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
539,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
540,AmTrade International Bank En Espanol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
541,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","October 6, 2017"
542,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
543,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
544,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
545,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
546,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
547,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
548,"Hamilton Bank, NA En Espanol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
549,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","October 6, 2017"
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
551,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
553,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
554,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

Powerful no? Now let's turn that into an exercise.

### Exercise 9
Given the data you just extracted above, can you analyse how many banks have failed per state?

Georgia (GA) should be the state with the most failed banks!

*Hint: try searching the web for pandas counting occurrences*

In [81]:
banks.ST.value_counts().head()

GA    93
FL    75
IL    69
CA    41
MN    23
Name: ST, dtype: int64

# Data Cleaning <a name="cleaning"></a>
While doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming and rearranging. Such tasks are often reported to take **up to 80%** or more of a data analyst's time. Often the way the data is stored in files isn't in the correct format and needs to be modified. Researchers usually do this on an ad-hoc basis using programming languages like Python.

In this chapter, we will discuss tools for handling missing data, duplicate data, string manipulation, and some other analytical data transformations.

## Handling missing data <a name="missing"></a>
Mussing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible.

In pandas, missing numeric data is represented by `NaN` (Not a Number) and can easily be handled:

In [82]:
string_data = pd.Series(['orange', 'tomato', np.nan, 'avocado'])
string_data

0     orange
1     tomato
2        NaN
3    avocado
dtype: object

In [83]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

Furthermore, the pandas `NaN` is functionally equlevant to the standard Python type `NoneType` which can be defined with `x = None`.

In [84]:
string_data[0] = None
string_data

0       None
1     tomato
2        NaN
3    avocado
dtype: object

In [85]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Here are some other methods which you can find useful:
    
| Method | Description |
| -- | -- |
| dropna | Filter axis labels based on whether the values of each label have missing data|
| fillna | Fill in missing data with some value |
| isnull | Return boolean values indicating which values are missing |
| notnull | Negation of isnull |

### Exercise 10
Remove the missing data below using the appropriate method

In [86]:
data = pd.Series([1, None, 3, 4, None, 6])
data.dropna()

0    1.0
2    3.0
3    4.0
5    6.0
dtype: float64

`dropna()` by default removes any row/column that has a missing value. What if we want to remove only rows in which all of the data is missing though?

In [87]:
data = pd.DataFrame([[1., 6.5, 3.], [1., None, None],
                    [None, None, None], [None, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [88]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [89]:
data.dropna(how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

### Exercise 11
That's fine if we want to remove missing data, what if we want to fill in missing data? Do you know of a way? Try to fill in all of the missing values from the data below with **0s**

In [90]:
data = pd.DataFrame([[1., 6.5, 3.], [2., None, None],
                    [None, None, None], [None, 1.5, 9.]])

data.fillna()










pandas also allows us to interpolate the data instead of just filling it with a constant. The easiest way to do that is shown below, but there are more complex ones that are not covered in this course.

In [ ]:
data.fillna(method="ffill")

If you want you can explore the other capabilities of [`fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)

## Data Transformation  <a name="transformation"></a>
### Removing duplicates
Duplicate data can be a serious issue, luckily pandas offers a simple way to remove duplicates

In [ ]:
data = pd.DataFrame([1, 2, 3, 4, 3, 2, 1])
data

In [ ]:
data.drop_duplicates()

You can also select which rows to keep

In [ ]:
data.drop_duplicates(keep="last")

### Replacing data
You've already seen how you can fill in missing data with `fillna()`. That is actually a special case of more general value replacement. That is done via the `replace()` method.

Let's consider an example where the dataset given to us had `-999` as sentinel values for missing data instead of `NaN`.

In [ ]:
data = pd.DataFrame([1., -999., 2., -999., 3., 4., -999, -999, 7.])
data

In [ ]:
data.replace(-999, np.nan)

### Detection and Filtering Outliers
Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:

In [4]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007632     0.050024    -0.012849     0.016784
std       0.998612     1.006627     0.964622     1.000706
min      -2.957364    -3.502528    -3.227869    -3.169486
25%      -0.665692    -0.626164    -0.662087    -0.670290
50%       0.006478     0.048645    -0.030726     0.042760
75%       0.669843     0.707385     0.645383     0.703211
max       2.772749     3.179202     3.247557     2.902432

Suppose you now want to lower all absolute values exceeding 3 from one of the columns

In [6]:
col = data[2]
col[np.abs(col) > 3]

86     3.247557
211    3.133593
494   -3.227869
Name: 2, dtype: float64

In [7]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007632     0.050358    -0.013003     0.016953
std       0.998612     1.004265     0.962654     1.000180
min      -2.957364    -3.000000    -3.000000    -3.000000
25%      -0.665692    -0.626164    -0.662087    -0.670290
50%       0.006478     0.048645    -0.030726     0.042760
75%       0.669843     0.707385     0.645383     0.703211
max       2.772749     3.000000     3.000000     2.902432

### Exercise 12
Let's load again our file with home prices and filter out homes based on our preference:
1. Load up the file `data/homes.csv`
2. The data contains some duplicates. Filter them out.
3. Let's say that the most we can spend on a house is Â£150. Keep only houses that have a **sell**ing price less than Â£150 and remove the rest
4. Select only houses that have 4 or more bedrooms
5. Select only houses that have 3 or more baths

You should end up with only 2 houses

In [54]:
data = pd.read_csv("data/homes.csv")
data = data.drop_duplicates()
data = data[data["Sell"] < 150]
# data[data["Age"] > 2]
data = data[data["Beds"] >= 4]
data[data["Baths"] >= 3]

   Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0   142   160      28     10     5      3   60   0.28   3167
6   135   140      18      7     4      3    9   0.57   3028